# developed with Python version: 3.9.13
# need to install `swig` for gym[box2d], see https://formulae.brew.sh/formula/swig for macos

Box2D==2.3.2
box2d-py==2.3.5
gym==0.21.0  # install `gym[box2d]` too
matplotlib==3.7.1
numpy==1.23.5
pandas==1.5.3
Pillow==9.5.0
pygame==2.1.0
stable-baselines3==1.8.0
tensorboard==2.4.1
tensorboardX==2.6
torch==2.0.0
tqdm==4.65.0
